body{
	margin: 50px 50px 50px 50px;
}

label{
	font-size: 14pt;
	margin-right: 10px;
}

div.form-group{
	width: 100%;
}

input.form-control{
	width: 85% !important;
}

.table-container{
	margin-top: 50px;
	overflow-y: auto;
}

.disabled{
	display: none;
}