<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>PySearch</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/static/search.js"></script>
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1>Welcome to PySearch!</h1>
		<p>A toy search engine written in Python</p>
		<p>Type a query below</p>
	</div>
</div>

<div class="container">
	<form class="form-inline" role="form" id="form">
			<label for="query" class="control-label">Query</label>
			<input type="text" class="form-control input-lg" name="query" id="query"/>
			<button id="submit" type="submit" role="button" class="btn btn-lg btn-primary">Search</button>
	</form>
</div>
<div class="container table-container">
	<table class="table table-striped table-hover table-bordered disabled" id="result-table">
		<thead id="result-head">
			<tr>
				<th>Rank</th>
				<th>Document</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody id="result-body">

		</tbody>
	</table>
</div>
<div class="modal fade" id="modal" aria-hidden="true" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" id="modal-header">
				<h2>Header</h2>
			</div>
			<div class="modal-body" id="modal-body">
				<h2>Body</h2>
			</div>
			<div class="modal-footer" id="modal-footer">
				<button class="btn btn-default">Close</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>